@charset "UTF-8";
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url('../behaviors/box-sizing/boxsizing.php')
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

html {
    font-size: 100%
}

body {
    font-family: "Merriweather", serif;
    font-weight: 300;
    color: #2c3e50;
    margin: 0
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

th, td {
    padding: 12px
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

code, kbd, pre, samp {
    font-family: monospace, monospace
}

strong, b {
    font-weight: 700
}

em, i, q {
    font-style: italic
}

hr {
    background: none;
    height: 1px;
    border: 1px solid #ecf0f1;
    margin-bottom: 48px;
    margin-bottom: 3rem
}

img, video {
    max-width: 100%;
    height: auto
}

ol, ul {
    list-style: none
}

li > ul, li > ol {
    margin-bottom: 0
}


a {
    color: #2980b9;
    text-decoration: none
}

a:hover {
    color: #2472a4
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary {
    display: block
}

h1, h2, h3, h4, h5, h6, .content ul, .content ol, dd, p, address, pre, blockquote, table {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, .content ul, .content ol, dd, p, address, pre, blockquote, table {
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    color: #34495e
}


h1 {
    font-size: 24px;
    font-size: 2rem;
    line-height: 1.2
}

h2 {
    font-size: 18px;
    font-size: 1.5rem;
    line-height: 1.2
}

h3 {
    font-size: 15px;
    font-size: 1.4em;
    line-height: 1.2
}

h4 {
    font-size: 14px;
    font-size: 1.2rem;
    line-height: 1.2
}

h5 {
    font-size: 13px;
    font-size: 1.1rem;
    line-height: 1.2
}

h6 {
    font-size: 12px;
    font-size: 1rem;
    line-height: 1.2
}

p {
    font-size: 10px;
    font-size: .8rem;
    line-height: 1
}



q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

blockquote {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2
}

blockquote {
    text-indent: -0.41em
}

blockquote {
    quotes: "“" "”";
    margin-left: 48px;
    margin-left: 3rem
}

blockquote p:before {
    content: "“";
    content: open-quote
}

blockquote p:after {
    content: "";
    content: no-close-quote
}

blockquote p:last-of-type:after {
    content: "”";
    content: close-quote
}


q {
    quotes: "‘" "’" "“" "”"
}

q:before {
    content: "‘";
    content: open-quote
}

q:after {
    content: "’";
    content: close-quote
}

q q:before {
    content: "“";
    content: open-quote
}

q q:after {
    content: "”";
    content: close-quote
}

q:first-child {
    display: inline-block;
    text-indent: -0.22em
}


#header {
    width: 100%;
    border-top: #7A9432 5px solid;
}


#block-sitebranding {
    padding-top: 5px;
    display: block;
    text-align: center;
}

#block-sitebranding  .site-logo {

}

#block-sitebranding  .site-logo img {
    width: 180px;
    height: 90px
}

#block-sitebranding  .site-name  {
    color: #20638f;
    font-size: 14px;
    font-size: 1.2rem;
    line-height: 1.5;
    line-height: 1;
    font-weight: 300
}

#block-sitebranding  .site-slogan  {
    font-size: 14px;
    font-size: 1.2rem;
    line-height: 1.5;
    line-height: 1;
    font-weight: 300
}

#block-menuprincipal {display: block; margin-top: 15px;}
#block-menuprincipal > ul.menu {text-align: center}
#block-menuprincipal > ul > li {display: inline-block}

#block-menuprincipal > ul > li > a{
    font-size: 14px;
    padding: 0 20px;
    text-transform: uppercase;
    transition: all 0.2s ease-out 0s;
}

#block-menuprincipal > ul > li > a:hover, #block-menuprincipal > ul > li.active-trail > a {
    color: #3d3d3d;
}

#main-content {
    padding: 2em 1em;
    min-height: 100%;
    width: 70%;
    display: block;

}

#content {
    padding-bottom: 80px
}

#footer {
    display: block;
    padding: 1em 0;
    border-top: solid 1px #999;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
    color: #7f8c8d
}

.views-row {
    padding: .5em 0;
    border-bottom: solid 1px #8bf184
}

.views-row .views-field-title {
    margin: 0;
    font-size: 16px;
    font-size: 1.3rem;
    line-height: 1.09091
}

.button {
    text-align: center;
    font-size: 14px;
    padding: 0.5em 1.5em;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2980B9', endColorstr='#FF164666');
    background-color: #2980b9;
    border: 0;
    color: #fff;
    text-shadow: #123851 0 -1px 0;
    color: #fff;
    font-family: "Merriweather Sans", sans-serif
}

.button:hover {
    text-decoration: none
}

.button:hover {
    background-color: #2472a4
}

.button:active {
    background-color: #226998
}

.button.disabled, .button[disabled] {
    opacity: 0.6;
    background: false;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.button::-moz-focus-inner {
    padding: 0 !important;
    margin: -1px !important
}

.button:hover {
    color: #fff
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    height: 38px;
    width: 38px;
    background: url(../img/top.png) no-repeat
}

.tabs {
    margin: 0 0 2em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429
}

.messages {
    margin-bottom: 1em
}

.link-wrapper ul, ul.inline li {
    margin: 0;
    padding: 0
}

pre {
    background: #272822;
    word-wrap: break-word;
    color: #fff;
    overflow: scroll;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
    margin-bottom: 48px;
    margin-bottom: 3rem
}

pre table {
    margin: 0
}

pre th, pre td {
    padding: 0
}

pre, code {
    font-family: 'Monaco', courier, monospace
}

pre .comment {
    color: #75715E
}

pre .constant {
    color: #AE81FF
}

pre .storage {
    color: #66D9EF
}

pre .string, pre .comment.docstring {
    color: #E6DB74
}

pre .support.tag {
    color: #fff
}

pre .keyword {
    color: #F92672
}

pre .selector {
    color: #F92672
}

pre .inherited-class {
    font-style: italic
}

pre .operator, pre .support.tag-name, pre .entity.tag {
    color: #F92672
}

pre .entity, pre .support.attribute, pre .entity.attribute {
    color: #A6E22E
}

pre .support, *[data-language="c"] .function.call {
    color: #66D9EF
}

*[data-language="html"] .support.operator {
    color: #fff
}

pre .css-property, pre .storage.function {
    font-style: italic
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #A6E22E
}

.rainbow {
    border-spacing: 0;
    border-collapse: collapse
}

.rainbow .line:hover {
    background-color: #171b1c
}

.rainbow .line:hover .line-number {
    background-color: #101313
}

.rainbow .line .line-number {
    text-align: right;
    background-color: #1b2022;
    padding-left: 0.8em;
    padding-right: 0.8em;
    color: #bdc3c7
}

.rainbow .line .line-number:before {
    content: attr(data-line-number)
}

.rainbow .line .line-code {
    width: 100%
}

input[type="text"], input[type="tel"], input[type="email"], input[type="url"], input[type="search"], input[type="number"], input[type="color"], input[type="file"], input[type="password"], textarea, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px;
    max-width: 100%;
    border: 1px solid #ccc;
    border-top-color: #999;
    background: #fff;
    color: #333;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    padding: 7px 4px 7px 10px
}

input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="color"]:focus, input[type="file"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    color: #000;
    border-color: rgba(0, 116, 189, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(220, 220, 220, 0.4);
    outline-color: rgba(0, 116, 189, 0.5)
}

#main-nav ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #2386c8
}

#main-nav ul li {
    margin: 0;
    padding: 0;
    list-style-type: none
}

#main-nav ul li a {
    display: block;
    padding: .5em 1em;
    color: #fff;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.33333em;
    letter-spacing: 1px;
    border-bottom: 1px solid #2386c8
}

#main-nav ul li a:hover {
    background: #2b94d9;
    color: #e6e6e6
}

.naver .naver-handle {
    cursor: pointer;
    display: none;
    user-select: none
}

.naver .naver-handle:before {
    display: block;
    content: "\f039";
    font-family: FontAwesome;
    color: #fff;
    font-size: 1.375em;
    line-height: 2.18182em
}

.naver .naver-wrapper {
    height: auto
}

.naver .naver-container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden
}


.content ul, .content ol, dd {
    margin-left: 24px;
    margin-left: 2rem
}

.content ul {
    list-style-position: inside;
    list-style-type: disc
}

.content ol {
    list-style-position: inside;
    list-style-type: decimal
}

.field-name-field-incluye{}

.field-name-field-incluye .field-label{
    font-size: 13px;
    font-size: 1.1rem;
}
.field-name-field-incluye .field-item{
    font-size: 12px;
    font-size: 1rem;
}

